<section class='section is-large pt-2 pb-0'>
  <h2 class='title'>What Is Free Dock?</h2>
  <p class='content'>Free Dock is a site that allows you to create a bookmarkable list of favorite destinations that you can check while riding. The station status is updated once a minute, so you always have the latest information on whether you will find all the docks full.</p>
  <p class='content'>While this started with supporting Divvy Bikes in Chicago, Free Dock currently supports nearly 300 bike share programs around the world. <%= link_to "Find your station", programs_path %> and start using Free Dock today!</p>
</section>
<section class='section is-large pt-2 pb-0'>
  <h2 class='title'>Why Free Dock?</h2>
  <p class='content'>I love my local bikeshare program, <a href="https://www.divvybikes.com/">Divvy Bikes</a>, here in Chicago. However, sometimes I get to one of my usual destinations (my apartment or the <a href='https://www.sketchbookbrewing.com/'>Sketchbook Brewery</a>) and find the station totally full! OH NO! Then I have to backtrack to the nearest station and walk back. This happens pretty regularly, as the bikeshare app shows the dock availability, but it is on a map and really cumbersome to check while biking. There must be a better way! And, thus, Free Dock was born.</p>
</section>
